*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.gallary{
    height: 600px;
    width: 100%;
    /* background-color: yellow; */
    /* margin-top: 50px; */
}
.gallary h4{
    text-align: center;
    line-height: 80px;
    font-size: 30px;
}
.g-img{
    margin-left: 15%;
    margin-top: 50px;
}
.g-img img{
    height: 200px;
    width: 20%;
}
